<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}Library Catalog{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/catalog/">Home</a></li>
            <li><a href="/catalog/add/book/">Add Book</a></li>
            <li><a href="/catalog/add/library/">Add Library</a></li>
        </ul>
        <form id="search" action="/catalog/search/" method="get">
            <input type="text" name="q" placeholder="Search books by title or ISBN"/>
            <select name="lib">
                <option value="0">All Libraries</option>
                <option disabled>----</option>
                {% for lib in libraries %}
                    <option value="{{lib.id}}">{{lib.name}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Search" />
        </form>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>