{% extends "base.html" %}

{% if library %}

    {% block title %}Library Catalog: {{ library.name }}{% endblock %}
    
    {% block sidebar %}{{ block.super }}{% endblock %}
    
    {% block content %}
    <h1>{{ library.name }}</h1>
    <p>Most Popular Book: {% if topbook %}<a href="/catalog/book/{{topbook.id}}/">{{ topbook.title }} by {{ topbook.author }}</a>{% else %}This library does not have any books.{% endif %}</p>

    {% endblock %}
{% else %}
    <h1>Oops!</h1>
    <p>The library you're looking for doesn't seem to exist in our catalog. Please go back and try again.</p>
{% endif %}